node_modules
.env
.env.local
.env.production
dist
/generated/prisma
uploads/
*.tsbuildinfo
.agents/
.claude/
.windsurf/
skills-lock.json
prisma/*.js
prisma/*.d.ts
prisma/*.js.map
test/*.js
test/*.d.ts
test/*.js.map
